* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins
}

#content{
    padding: 10px;
}


.apply-background-color:hover{
    background-color: rgb(132, 252, 46);
    color: white;
}

p{
    padding: 10px;
}