*{
  box-sizing: border-box;
  font-family: 'normal', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
  background-image: url("./data/wuthering-waves-review.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

font {
  font-family: 'Georgia';
  font-weight: bold;
}
  

